/* Estilos generales para la página */
body {
    background-image: url('assets/img/kplantilla\ storie\ .png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;
    color: #FFF;
    margin: 0;
    padding: 0; /* Agrega un margen y relleno cero para evitar espacios no deseados */
}

/* Estilos para la barra de navegación */
.navbar {
    background-color: #004EA1;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.centered-logo {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

/* Estilos para el contenido */
.content {
    text-align: center;
}

.content div {
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
    color: #FFF;
}

/* Estilos para el pie de página */
footer {
    background-color: #004EA1;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Estilos para las divisiones en el cuerpo */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.column {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

.column img {
    display: block;
    margin-bottom: 50px;
    margin-left: 250px;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-links a {
    text-align: center;
}

.logo {
    width: 30px;
    height: 30px;
}

/* Estilos específicos para pantallas más pequeñas */
@media (max-width: 768px) {
    .content div {
        font-size: 14px; /* Reducir el tamaño del texto en pantallas pequeñas */
    }

    /* Puedes agregar más estilos específicos para pantallas pequeñas según tus necesidades */
}
table {
    width: 100%;
    border: 0; /* Elimina los bordes de la tabla */
}

td.column {
    padding: 10px;
    box-sizing: border-box;
    color: #FFF;
    vertical-align: top; /* Alinea el contenido en la parte superior de las celdas */
}



.content div {
    margin-bottom: 50px; /* Crea un espacio en la parte inferior de cada div */
    margin-block-end: 50px;
    margin-block-start: 50px;
    border-color: #FFF;
    border-radius: 3px;
    
}

/* Estilos para el div .contador */
.contador {
    margin-top: 5px;
    border-top: 3px solid #fff; /* Línea separadora en la parte superior */
    border-bottom: 3px solid #fff; /* Línea separadora en la parte inferior */
    padding: 20px; /* Espacio entre el contenido y los bordes */
}
.contador{
    body {
        margin: 0;
        padding: 0;
        margin-top: 5;
        margin-bottom: 5;
      
      }
  
      #fecha {
        line-height: 1em;
        text-align: center;
        font-size: 300%;
        color: WHITE;
        margin: 5px;
      }
  
      @media (max-width: 768px) {
        #fecha {
          font-size: 150%; /* Reduzco el tamaño de fuente para pantallas más pequeñas */
          margin: 5px; /* Reduzco los márgenes para pantallas más pequeñas */
        }
      }
  
      @media (max-width: 480px) {
        #fecha {
          font-size: 90%; /* Reduzco aún más el tamaño de fuente para pantallas pequeñas (como celulares en posición vertical) */
        }
      }
}

