/* Estilos generales para la página */
body {
    background-image: url('assets/img/kplantilla\ storie\ .png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;
    color: #FFF;
    margin: 0;
    padding: 0;
}

/* Estilos para el contenido */
.content {
    text-align: center;
    padding: 20px; /* Espacio entre el contenido y los bordes */
}

.content div {
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
    color: #FFF;
}

/* Estilos para el pie de página */
footer {
    background-color: #004EA1;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Estilos para las divisiones en el cuerpo */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.column {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

.column img {
    display: block;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-links a {
    text-align: center;
}

.logo {
    width: 30px;
    height: 30px;
}

/* Estilos específicos para pantallas más pequeñas */
@media (max-width: 768px) {
    .content div {
        font-size: 14px; /* Reducir el tamaño del texto en pantallas pequeñas */
    }

    .column img {
        max-width: 100%; /* Evitar que las imágenes sean más anchas que su contenedor en pantallas pequeñas */
    }

    /* Puedes agregar más estilos específicos para pantallas pequeñas según tus necesidades */
}

/* Estilos para la tabla */
table {
    width: 100%;
    border-collapse: collapse; /* Asegura que no haya espacios entre las celdas */
}

td.column {
    padding: 10px;
    box-sizing: border-box;
    color: #FFF;
    vertical-align: top; /* Alinea el contenido en la parte superior de las celdas */
}

/* Estilos para el div .contador */
.contador {
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    border: 2px solid #fff; /* Añade bordes de 2px de ancho en color blanco */
    border-radius: 10px; /* Añade esquinas redondeadas */
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5); /* Añade una sombra sutil */
}

#fecha {
    line-height: 1em;
    font-size: 300%;
    color: white;
    margin: 5px;
}

@media (max-width: 768px) {
    #fecha {
        font-size: 150%;
        margin: 5px;
    }
}

@media (max-width: 480px) {
    #fecha {
        font-size: 90%;
    }
}

